<div class="main-container">
    <div class="logo-container">
        <img class="logo-icon" src="../../../assets/img/logo-verde.svg" alt="Logo">
        <p class="logo-text">
            movies
        </p>
    </div>

    <div class="central-container">
        <div class="texto-container">
            <p class="texto">
                It's time to create your profile and customize your experience in <b>LinkApi Movies</b>!
            </p>
        </div>

        <div class="form-container">
            <app-inputs [label]="label[0]" [(ngModel)]="value1" name ="value" ngDefaultControl value="{{value1}}"></app-inputs>
            <app-inputs [label]="label[1]" [(ngModel)]="value2" name ="value" ngDefaultControl [value]="value2"></app-inputs>
            <app-inputs [label]="label[2]" [(ngModel)]="value3" name ="value" ngDefaultControl [value]="value3"></app-inputs>
            <app-inputs [label]="label[3]" [(ngModel)]="value4" name ="value" ngDefaultControl [value]="value4"></app-inputs>

        </div>
    </div>

    <div class="buttons-container">
        <a href="#" class="cancel-button">Cancel</a>
        <button class="save-button" (click)="goMovies();">Save profile</button>
    </div>

</div>


