.main-container {
    margin: 40px 0;
    width: 1000px;

    .logo-container {
        display: flex;
        align-items: center;
        margin-bottom: 100px;
        height: 50px;
    
        .logo-icon {
            width: 200px;
            margin-right: 10px;
            color: #37B987;
        }
    
        .logo-text {
            font-family: Metropolis Semi;
            font-size: 28px;
            letter-spacing: 0px;
            color: #37B987;
            margin:0;
        }
    }

    .central-container {
        display: flex;
        align-items: baseline;

        .texto-container {
            width: 359px;
            height: 174px;
            margin-right: 60px;
    
            .texto {
                text-align: right;
                color: #637463;
                font-size: 23px;
                font-family: Metropolis Regular;
                line-height: 1.4;
            }
        }
    }

    .buttons-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-top: 40px;

        .cancel-button {
            font-family: Google Sans B;
            text-decoration: none;
            color: #A0AFA0;
            margin-right: 20px;
        }

        .cancel-button:active {
            color: #c7d2c7;
        }

        .save-button {
            width: 120px;
            height: 35px;
            background: #3CC896 0% 0% no-repeat padding-box;
            border-radius: 6px;
            border: 0;
            color: #fff;
            font-family: Google Sans;
            font-size: 16px;
            cursor: pointer;
        }

        .save-button:active {
            background: #49e1ab;
        }

        .save-button:focus{
            outline: none;
        }
    }
}

@media screen and (max-device-width: 1020px) {
    .main-container {
        width: 900px;
    }
}

@media screen and (max-device-width: 900px) {
    .main-container {
        width: 750px;

        .logo-container {
            margin-bottom: 50px;
        }
    }
}

@media screen and (max-device-width: 750px) {
    .main-container {
        width: 550px;

        .logo-container {
            margin-bottom: 50px;
        }
    }
}

@media screen and (max-device-width: 550px) {
    .main-container {
        width: 450px;

        .logo-container {
            margin-bottom: 50px;
        }

        .central-container {
            align-items: center ;
            flex-direction: column;

            .texto-container {
                width: 100%;
                height: 174px;
                margin: 0;
                margin-bottom: 15px; 

                .texto {
                    font-size: 27px;
                    text-align: justify;
                }
            }

            .form-container {
                width: 100%;
            }
        }
        
    }
}

@media screen and (max-device-width: 480px) {
    .main-container {
        width: 350px;

        .logo-container {
            margin-bottom: 50px;
        }
    }
}

@media screen and (max-device-width: 365px) {
    .main-container {
        width: 250px;

        .logo-icon {
            width: 150px !important;
        }

        .logo-text {
            font-size: 25px !important;
        }

        .texto {
            font-size: 22px !important;
        }
    }
}






