
<div class="main-container">
    <div class="header-container">
        <div class="logo-container">
            <img class="logo-icon" src="../../../assets/img/logo-verde.svg" alt="Logo">
            <p class="logo-text">
                movies
            </p>
        </div>
        <i class="fa fa-user-circle user-icon" aria-hidden="true"  (click)="goPerfil();"></i>
    </div>
    
    <div class="filter-container">
        <div class="search-container">
            <i class="fa fa-search search-icon" aria-hidden="true"></i>
            <app-inputs [label]="label" [lblPlaceholder] = "lblPlaceholder" [customStyle]="style" [(ngModel)]="term" name="term" ngDefaultControl ></app-inputs>
        </div>
        <p class="favorites-filter" (click)="changeState()">{{ filterState }}</p>
    </div>

    <ngx-spinner bdColor="rgba(51, 51, 51, 0.47)" size="default" type="line-scale-party"></ngx-spinner>

    <div class="movies-container-primary">
        <div class="movies-container-secundary" *ngIf="filterState == 'Favorites'">
            <div class="movie-card" *ngFor="let movie of movieCards | filter:term; let i = index">
                <img src="{{movie.poster}}" alt="" class="movie-poster" [routerLink]="['/movies-details', i]">
                <p class="text-4filter">{{movie.title}}</p>
                <p class="text-4filter">{{movie.genre}}</p>
                <p class="text-4filter">{{movie.actors}}</p>
                <div class="fav-container" (click)="isChangedBlock[i] = !isChangedBlock[i]; addFav(i)">
                    <i class="fa fav-icon fa-heart-o favIcon" aria-hidden="true" [hidden]="isChangedBlock[i]"></i>
                </div>
                <div class="fav-container" (click)="isChangedBlock[i] = !isChangedBlock[i]; removeFav(i)">
                    <i class="fa fav-icon fa-heart favIcon" aria-hidden="true" [hidden]="!isChangedBlock[i]"></i>
                </div>
            </div>
        </div>

        <div class="movies-container-secundary" *ngIf="filterState == 'List All'">
            <div class="movie-card" *ngFor="let movie of favMovie | filter:term; let i = index">
                <img src="{{movie.poster}}" alt="" class="movie-poster" [routerLink]="['/movies-details', i]">
                <p class="text-4filter">{{movie.title}}</p>
                <p class="text-4filter">{{movie.genre}}</p>
                <p class="text-4filter">{{movie.actors}}</p>
            </div>
        </div>

        <div class="not-found-container" *ngIf="favMovie.length <= 0 && filterState == 'List All'">
            <img src="../../../assets/img/not-found.png" alt="" class="not-found">
            <div class="not-found-text-container">
                <p class="not-found-text">No movies found!</p>
                <p class="not-found-subtext">Reset your filters to find something.</p>
            </div>
        </div>
    </div>
</div>