/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Metropolis Semi;
  src: url(assets/fonts/Metropolis-SemiBold.otf) format("opentype");
}

@font-face {
  font-family: Metropolis Regular;
  src: url(assets/fonts/Metropolis-Regular.otf) format("opentype");
} 

@font-face {
  font-family: Proxima Nova;
  src: url(assets/fonts/proxima-nova.otf) format("opentype");
}

@font-face {
  font-family: Google sans B;
  src: url(assets/fonts/ProductSans-Bold.ttf) format("opentype");
} 

@font-face {
  font-family: Google sans;
  src: url(assets/fonts/ProductSans-Regular.ttf) format("opentype");
} 

$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
